<!DOCTYPE html>
<html>
<head>
    <title>Detail Page</title>
</head>
<body>

    <h2><%= @book.title %></h2>
    <div>by <%= @book.author %></div>

    <div><%= @book.snippet %></div>

    <a href="/books">Book Index Page</a>
</body>
</html>