<!DOCTYPE html>
<html>
<head>
    <title>Hello Everyone</title>
</head>
<body>

    <h1>Hello World!</h1>

    <% 5.times do %>
        <h2>Happy Monday!</h2>
    <% end %>

    <%= "hello everyone".upcase %>

</body>
</html>