[submodule "40-Dog-Show-Review/40-Dog-Show-Review/dog-show-challenge"]
	path = 40-Dog-Show-Review/40-Dog-Show-Review/dog-show-challenge
	url = https://github.com/jennyjean8675309/dog-show-challenge.git
