<h1>Choose Your Favorites</h1>

<%= form_tag favorites_path do %>
    <% @snacks.each do |s| %>
        <div>
            <%= check_box_tag "snack_ids[]", s.id, checked = get_current_user.snacks.include?(s) %>
            <%= s.name %>
        </div>
    <% end %>
<%= submit_tag "Choose Your Faves" %>
<% end %>