<h1>Create a New Snack</h1>

<!-- form_tag - general form

form_for - maps directly to an object (the fields on the form correspond to the
    fields on an object) -->

<%= render partial: "shared/error_list", locals: {object: @snack} %>

<%= render "snack_form" %>